.wrapper--toDo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: rgb(57, 58, 70);
    background: -moz-linear-gradient(180deg, rgba(57, 58, 70, 1) 0%, rgba(67, 76, 149, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(57, 58, 70, 1) 0%, rgba(67, 76, 149, 1) 100%);
    background: linear-gradient(180deg, rgba(57, 58, 70, 1) 0%, rgba(67, 76, 149, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#393a46", endColorstr="#434c95", GradientType=1);
    padding: 10px 20px;
    gap: 20px;
    width: 75%;
    height: 75%;
}

@media (max-width:768px) {
    .wrapper--toDo {
        padding: 5px 5px;
        gap: 20px;
        width: 90%;
        height: 90%;
    }
}