@media (max-width:768px) {


    .wrapper--toDo {
        padding: 5px 5px;
        gap: 20px;
        width: 90%;
        height: 90%;
    }

    .text-task {
        font-size: 11px;
    }

    .button--modificateTask {
        margin-left: 5px;
    }

    #form>input {

        font-size: 12px;
    }

    .add--task {
        font-size: 12px;
    }
}