@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scrollbar-width: auto;
    scrollbar-color: #ffffff #ba2c2c;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 30px solid #00000000;
}


h2 {
    color: white;
}

.container--main__toDo {
    background: rgb(24, 28, 70);
    background: -moz-linear-gradient(0deg, rgba(24, 28, 70, 1) 5%, rgba(119, 119, 119, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(24, 28, 70, 1) 5%, rgba(119, 119, 119, 1) 100%);
    background: linear-gradient(0deg, rgba(24, 28, 70, 1) 5%, rgba(119, 119, 119, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#181c46", endColorstr="#777777", GradientType=1);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper--toDo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: rgb(57, 58, 70);
    background: -moz-linear-gradient(180deg, rgba(57, 58, 70, 1) 0%, rgba(67, 76, 149, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(57, 58, 70, 1) 0%, rgba(67, 76, 149, 1) 100%);
    background: linear-gradient(180deg, rgba(57, 58, 70, 1) 0%, rgba(67, 76, 149, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#393a46", endColorstr="#434c95", GradientType=1);
    padding: 10px 20px;
    gap: 20px;
    width: 75%;
    height: 75%;
}

.title--app {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
}

.tasks--formYInput {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: 85%;
    justify-content: flex-start;
}

.wrapper--tasks {
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-right: 20px;
}

.container--input__task {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

#form>input {
    padding: 10px 15px;
    font-size: 1.3rem;
}

#input--putTask {
    width: 90%;
}

.add--task {
    cursor: pointer;
    padding: 10px 15px;
    font-size: 1.3rem;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 10px;
    width: 100%;
    border: 2px solid white;
    background: white;
    color: black;
    font-weight: 500;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.text-task {
    font-size: 1.2rem;
    user-select: none;
}

.button--modificateTask {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 15px;
    height: 60px;
}

.button--deleteTask {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    border-left: 1px solid rgb(0, 0, 0);
    background-color: rgb(223, 223, 223);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    cursor: pointer;
    user-select: none;
}

.button--deleteTask:hover {
    background: rgb(149, 57, 57);
    background: linear-gradient(0deg, rgb(149, 57, 57) 0%, rgb(242, 96, 96) 100%);
    color: white;
}

.flex--tareasTotal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
}

.clean--tasks {
    padding: 10px 15px;
    background: #ff9d9d;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.clean--tasks:hover {
    background: #f65d5d;
}